{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{%  block content %}
<h1 class="title">Add a New Route</h1>

<div class="errors">
  {% if error %}
  <h2 style="color: red;">Error: {{ error }}</h2>
  {% endif %}
</div>

<div class="status">
  {% if status %}
  <h2 style="color: green;">Created: {{ status }}</h2>
  {% endif %}
</div>

<form action="{{ url_for('create_route') }}" method="post">
  
  <div class="field">
    <label class="label">Route Name</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary is-large" type="text" placeholder="Route Name" name="route_name" id="route_name" required>
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Grade (v#)</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary is-large" type="text" placeholder="Grade (ex: 5)" name="route_grade" id="route_grade" required>
      <span class="icon is-small is-left">
        <i class="">V</i>
      </span>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Points Value</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary is-large" type="text" placeholder="Points Value (ex: 310)" name="route_points" id="route_points" required>
      <span class="icon is-small is-left">
        <i class="fas fa-trophy"></i>
      </span>
    </div>
  </div>

  <input class="button is-link" value="Create Route" type="submit">
</form>

{% endblock %}