<!DOCTYPE html>
<html lang="en">
<head>
    <title>That Other Climbing Comp</title>
</head>

<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ link.href }}">{{ link.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>That Other Climbing Comp</h1>
    Welcome {{ username }}!

    <ul id="route_list">
        {% for route in routes %}
            <li><a href="routes/{{ route.id }}">{{ route.name }} (v{{ route.grade }})</a></li>
        {% endfor %}
    </ul>

</body>
</html>