<!DOCTYPE html>
<html lang="en">
<head>
    <title>That Other Climbing Comp</title>
</head>

<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.title }}</a></li>
    {% endfor %}
        <li><a href="{{ url_for('create_route') }}">Add a New Route</a></li>
    </ul>

    <h1>That Other Climbing Comp</h1>
    Hi {{ session['username'] }}!

    <br>
    <button type="submit">LOGOUT</button>
    <br>

    {% if routes %}
    <ul id="route_list">
        {% for route in routes %}
            <li><a href="routes/{{ route.route_id }}">{{ route.route_name }} (v{{ route.route_grade }})</a></li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>