{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
    {% if is_admin %}
    <a class="tag is-dark is-medium", href="{{ url_for('admin') }}">
        Admin
    </a>
    {% endif %}
{% endblock %}

{%  block content %}

<h1 class="title">Hi {{ session['username'] }}!</h1>
    
    
{% if routes %}
{% for route in routes %}
{% if route.is_sent %}
<a class="box has-background-success" href="routes/{{ route.route_id }}">
    <p class="title is-2 has-text-primary-00">
{% elif route.has_attempts > 0%}
<a class="box has-background-warning" href="routes/{{ route.route_id }}">
    <p class="title is-2 has-text-primary-00">
{% else %}
<a class="box" href="routes/{{ route.route_id }}">
    <p class="title is-2">
{% endif %}
        {{ route.route_name }}
    </p>
    {% if route.route_grade <= 4 %}
    <p class="tag is-warning has-background-warning-70">
        V{{ route.route_grade }}
    </p>
    {% else %}
    <p class="tag is-danger">
        V{{ route.route_grade }}
    </p>
    {% endif %}
    {% if route.route_points %}
    <p class="tag is-dark">
        {{ route.route_points }}pts
    </p>
    {% endif %}
</a>
{% endfor %}

</ul>
{% endif %}
    
{% endblock %}