{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{%  block content %}
<div class="login">
	<h1 class="title">Login</h1>

	<h2 class="subtitle">No Account? <a href="{{ url_for('register') }}">Register Instead</a></h2>
	
	<div class="errors">
		{% if error %}
		<h2 style="color: red;">{{ error }}</h2>
		{% endif %}
	</div>
	
	<form action="{{ url_for('login') }}" method="post">
		
		<div class="field">
			<label class="label">Username</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input is-primary is-large" type="text" placeholder="Username" name="username" id="username" required>
				<span class="icon is-small is-left">
					<i class="fas fa-user"></i>
				</span>
			</div>
		</div>
		
		<div class="field">
			<label class="label">Password</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input is-primary is-large" type="password" placeholder="Password" name="password" id="password" required>
				<span class="icon is-small is-left">
					<i class="fas fa-lock"></i>
				</span>
			</div>
		</div>
		
		<input class="button is-link" value="Login" type="submit">
	</form>
</div>

{% endblock %}