{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{%  block content %}

<div class="errors">
    {% if error %}
    <h2 style="color: red;">Error: {{ error }}</h2>
    {% endif %}
</div>

<div class="card">
    <header class="card-header">
      <h1 class="card-header-title title">{{ route_info.route_name }}</h1>
    </header>
    <div class="card-content">
      <div class="content">
        {% if route_info.route_grade <= 4 %}
        <p class="tag is-warning is-light is-large">Grade: V{{ route_info.route_grade }}</p>
        {% else %}
        <p class="tag is-danger is-light is-large">Grade: V{{ route_info.route_grade }}</p>
        {% endif %}
        <p class="tag is-warning is-large">Attempts: {{ user_info.attempts }}</p>
        {% if user_info.sent %}
        <p class="tag is-success is-large">Already Sent!</p>
        {% endif %}
        <p class="tag is-dark is-large">Points: {{ route_info.route_points }}</p>
      </div>
    </div>
    <footer class="card-footer">
        {% if user_info.sent == False %}
        <div class="card-footer-item">
            <form class="card-footer-item" action="{{ url_for('routes', route_id=route_info.route_id) }}" method="post">
                <input type="hidden" name="attempt" value="1" id="attempt">
                <input class="card-footer-item button is-link is-large" type="submit" value="Add Attempt">
            </form>
        </div>
        {% endif %}
        <div class="card-footer-item">
            <form class="card-footer-item" action="{{ url_for('routes', route_id=route_info.route_id) }}" method="post">
                <input type="hidden" name="sent" value="1" id="sent">
                <input class="card-footer-item button is-success is-large" type="submit" value="Sent!">
            </form>
        </div>
    </footer>
</div>

{% endblock %}