<!DOCTYPE html>
<html lang="en">
<head>
    <title>That Other Climbing Comp</title>
</head>
<body>

    <div class="links">
        <a href="{{ url_for('home') }}" class="active">All Routes</a>
        <br>
        <br>
    </div>

    <div class="errors">
        {% if error %}
        <h2 style="color: red;">Error: {{ error }}</h2>
        {% endif %}
    </div>

    Name: {{ route_info.route_name }}
    <br>
    Grade: {{ route_info.route_grade }}
    <br>
    <br>
    Number of attempts: {{ user_info.attempts }}
    <br>
    <div>
        <form action="{{ url_for('routes', route_id=route_info.route_id) }}" method="post">
            <input type="hidden" name="attempt" value="1" id="attempt">
            <input type="submit" value="+1 Attempt" id="attempt_button">
        </form>
    </div>
    <br>
    <br>
    Have I sent it? {{ user_info.sent }}
    <br>
    <div>
        <form action="{{ url_for('routes', route_id=route_info.route_id) }}" method="post">
            <input type="hidden" name="sent" value="1" id="sent">
            <input type="submit" value="I SENT IT!" id="sent_button">
        </form>
    </div>

</body>
</html>